html, body {
  height: 100%;
  width: 100%;
  display: flex;
  background: #fff;
  margin: 0;
  padding: 0;
}

.app,.app * {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: $font-family-open-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  background: #FFFFFF;
  color: $color-primary;
}

select, input {
  font-size: 10px;
  font-family: $font-family-open-sans;
  color: $color-primary;
}

select{
  height: 28px;
  border-radius: 4px;
  padding: 0 6px;
  border: 1px solid #D0D0D0;

  &:focus{
    outline: none;
    box-shadow: 0 0 10px -1px rgba($color-accent-bg, .2);
  }
}

select:not(:valid) {
  color: lightgray;
}

select option {
  padding: 0;
}

input[type=text], input[type=number]{
  height: 28px;
  border-radius: 4px;
  padding: 0 8px 0 8px;
  border: 1px solid #D0D0D0;

  &:focus{
    outline: none;
    box-shadow: 0 0 10px -1px rgba($color-accent-bg, .2);
  }
}

h1, h2, h3{
  margin: 0 0 4px;
}

.link{
  text-decoration: underline;
}

/* fix not responding textarea in ios */
textarea {
  -webkit-touch-callout: auto !important;
  -webkit-user-select: auto !important;
  user-select: auto !important;
}