.line-for-create{
  padding: 0 0 13px;
  margin: 0 0 13px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;

  &__name{
    overflow: hidden;
    white-space: nowrap;
    width: 60%;
    text-overflow: ellipsis;
  }

  &__count{}
  &__action{}
}